.challenges_details_container {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.challenges_details_card {
  color: #fff;
  width: 250px;
  height: 300px;
  padding: 1.5rem;
}

.challenges_details_heading {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

.challenges_details_image {
  height: 150px;
}
.challenges_list {
  height: 50px;
  list-style: none;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.challenges_list_item {
  display: flex;
  border-radius: 20px;
  background: rgb(17, 17, 17);
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.challenges_list_item_left {
  width: 10%;
  height: 70px;
  line-height: 70px;
  font-size: 2rem;
  font-weight: 800;
  /* line-height: 100%; */
  text-align: center;
  color: rgb(130, 255, 6);
  background: rgb(46, 46, 46);
}

.challenges_list_item_left span {
  font-weight: 300;
}

.challenges_list_item_right > * {
  height: 50%;
}

.challenges_list_item_right_name {
  font-size: 1.2rem;
  font-weight: 600;
}

/* .challenges_list_item_right_description {
} */

.challenges_list_item_right {
  width: 90%;
  padding: 0.5rem 0.8rem;
}
