.good_course_website_container {
}
.good_course_website_flex {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.good_course_website_flex img {
  width: 100px;
}

.user_subheading_text {
  text-align: center;
  color: rgb(209, 78, 78);
}
