.leaderboard_details_container {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.leaderboard_details_card {
  color: #fff;
  width: 250px;
  height: 300px;
  padding: 1.5rem;
}

.leaderboard_details_heading {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

.leaderboard_details_image {
  height: 150px;
}
.leaderboard_list {
  height: 50px;
  list-style: none;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.leaderboard_list_item {
  display: flex;
  border-radius: 20px;
  background: rgb(17, 17, 17);
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.leaderboard_list_item_left {
  width: 10%;
  height: 70px;
  line-height: 70px;
  font-size: 2rem;
  font-weight: 800;
  /* line-height: 100%; */
  text-align: center;
  color: rgb(130, 255, 6);
  background: rgb(46, 46, 46);
}

/* .leaderboard_list_item_right > * {
  height: 50%;
} */

.leaderboard_list_item_right_name {
  font-size: 0.8rem;
  font-weight: 300;
}

.leaderboard_list_item_right_name span {
  font-size: 0.6rem;
  font-weight: 300;
}

.leaderboard_list_item_right_description {
  font-size: 1rem;
  font-weight: 600;
}

.leaderboard_list_item_right {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard_list_image {
  height: 50px;
  margin: 0 0.8rem;
  border-radius: 50%;
}
